@mixin borderCircle {
    border-radius: 9999px;
}
  
@mixin colorInherit {
    color: inherit;
}
  
@mixin padding1px {
    padding-top: 1px;
}
  
@mixin list {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
@mixin listItem {
    margin: 0 0 1.25rem;
}
  
@mixin lightText {
    color: #CFCFCF;
}