@use '../../styles/variables.scss' as vars;

@import '../../styles/typography.scss';
@import '../../styles/variables.scss';


.h1 {
    @include Heading-1;
    color: vars.$text-color;
}

.h2 {
    @include Heading-2;
    color: vars.$text-color;
}

.h3 {
    @include Heading-3;
    color: vars.$text-color;
}

.h4 {
    @include Heading-4;
    color: vars.$text-color;
}

.h5 {
    @include Heading-5;
    color: vars.$text-color;
}

.h6 {
    @include Heading-6;
    color: vars.$text-color;
}

.body {
    @include Body-Regular;
    color: vars.$text-color;
}

.bodySm {
    @include Body-Small;
    color: vars.$text-color;
}

.bodyLg {
    @include Body-Large;
    color: vars.$text-color;
}

.header {
    margin: 5rem 0;
    color: vars.$text-color;
}
