@use "../../styles/index.scss";

//import animations
@import '../../styles/animations.scss';

//Local variables
$duration: 1s;

@mixin layout {
    max-width: 36rem;
    padding: 1rem;
    margin: 1rem auto 1rem;

    font-family: 'Roboto';

    background-color: rgba(0, 0, 0, 0.70);
}

.root {
    @include layout;
    
    @include animation("fadeIn" $duration 1);
}

.fadeOut {
    @include layout;

    @include animation("fadeOut" $duration 1);
}

.colorInherit{
    @include index.colorInherit;
}

.heading2X1{
    @include index.heading2Xl;
}

.headingLg{
    @include index.headingLg;
}

.headingMd{
    @include index.headingMd;
}

.header{
    text-align: center;
}