@use "../../styles/index.scss";

.root {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;

    font-family: 'Roboto';

    background-color: rgba(0, 0, 0, 0.5);
}

.borderCircle{
    @include index.borderCircle;
}

.colorInherit{
    @include index.colorInherit;
}

.heading2X1{
    @include index.heading2Xl;
}

.headingLg{
    @include index.headingLg;
}