//Local variables
$duration: 15s;

.root {
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -2;

    animation: fadeIn ease $duration;
    -webkit-animation: fadeIn ease $duration;
    -moz-animation: fadeIn ease $duration;
    -o-animation: fadeIn ease $duration;
    -ms-animation: fadeIn ease $duration;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}