@use '../../styles/variables.scss' as vars;

@import '../../styles/typography.scss';
@import '../../styles/variables.scss';

.root {
    display: block;
    margin-left: auto;
    margin-right: auto;

    filter: drop-shadow(0 0 0.5rem #000000);

    max-width: 100%;
}