@mixin Heading-1 {
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

@mixin Heading-2 {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 700;
}

@mixin Heading-3 {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 700;
}

@mixin Heading-4 {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin Heading-5 {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
}

@mixin Heading-6 {
    font-family: Roboto;
    font-size: 0.75rem;
    font-weight: 700;
}

@mixin Body-Regular {
    font-family: Roboto;
    font-size: 1rem;
    margin: 0.5rem 0;
}

@mixin Body-Small {
    font-family: Roboto;
    font-size: 0.75rem;
}

@mixin Body-Large {
    font-family: Roboto;
    font-size: 1.25rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
}
